*.iml
.gradle/
.idea/
local.properties
*.jks
*.keystore

app/build/
uikit/build/
server/build/
build/
captures/
.externalNativeBuild/
.cxx/

app/schemas/

java_pid*
dev/*
*.hprof

.kotlin

*.env
secrets.properties

*.db
*.db-shm
*.db-wal
